@page "/"
@using System.Net.Http.Json
@using System.Text.Json
@inject HttpClient Http
@inject NavigationManager Nav


@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger" role="alert">
        @errorMessage
    </div>
}
<div class="pokedex-container">
    @if (comparePokemon2 != null && showComparePanel)
    {

        <div class="pokemon-Comparecard">
            @if (comparePokemon1 != null)
            {
                <h2 class="pokemon-name">@comparePokemon1.name</h2>
                <img src="@comparePokemon1.sprites.front_default" alt="@comparePokemon1.name" />

                <div class="types">
                    @foreach (var t in comparePokemon1.types)
                    {
                        <span class="type @t.type.name">@t.type.name</span>
                    }
                </div>
                <div class="divider"></div>
                <h3>Stats</h3>
                <table class="stats-table">
                    @foreach (var s in comparePokemon1.stats)
                    {
                        <tr>
                            <td class="stat-name">@s.stat.name</td>
                            <td class="stat-value">@s.base_stat</td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <p>Select a Pokémon to fight with from the right panel</p>
            }
            @if (winner != null && winner == comparePokemon1)
            {
                <div class="divider"></div>
                <div class="winner-container">
                    <span class="winner-text">@winner.name.ToUpper() WINS!</span>
                </div>
            }
            else if (winner == null && comparePokemon1 != null)
            {
                <div class="divider"></div>
                <div class="winner-text draw">
                    Its a TIE!
                </div>
            }
        </div>
        <div class="versus-container">
            <div class="vs-text">VS</div>
        </div>
    }
    @if(!showComparePanel){
    <div class="pokemon-card">
        @if (selectedPokemon != null)
        {
            <h2 class="pokemon-name">@selectedPokemon.name</h2>
            <img src="@selectedPokemon.sprites.front_default" alt="@selectedPokemon.name" />

            <div class="types">
                @foreach (var t in selectedPokemon.types)
                {
                    <span class="type @t.type.name">@t.type.name</span>
                }
            </div>
            <div class="divider"></div>
            <div class="basic-info">
                <p><strong>Height:</strong> @(selectedPokemon.height/10.0) m</p>
                <p><strong>Weight:</strong> @(selectedPokemon.weight/10.0) kg</p>
            </div>
            <div class="divider"></div>
            <h3>Stats</h3>
            <table class="stats-table">
                @foreach (var s in selectedPokemon.stats)
                {
                    <tr>
                        <td class="stat-name">@s.stat.name</td>
                        <td class="stat-value">@s.base_stat</td>
                    </tr>
                }
            </table>
            <div class="divider"></div>
            <h3>Abilities</h3>
            <ul class="abilities">
                @foreach (var a in selectedPokemon.abilities)
                {
                    <li>@a.ability.name</li>
                }
            </ul>
        }
        else
        {
            <p>Select a Pokémon to view from the right panel</p>
        }
    </div>
    }
    @if (showComparePanel)
    {
        <div class="pokemon-Comparecard">
            @if (comparePokemon2 != null)
            {
                <h2 class="pokemon-name">@comparePokemon2.name</h2>
                <img src="@comparePokemon2.sprites.front_default" alt="@comparePokemon2.name" />

                <div class="types">
                    @foreach (var t in comparePokemon2.types)
                    {
                        <span class="type @t.type.name">@t.type.name</span>
                    }
                </div>
                <div class="divider"></div>
                <h3>Stats</h3>
                <table class="stats-table">
                    @foreach (var s in comparePokemon2.stats)
                    {
                        <tr>
                            <td class="stat-name">@s.stat.name</td>
                            <td class="stat-value">@s.base_stat</td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <p>Select a Pokémon to fight against from the right panel</p>
            }
            @if (winner != null && winner == comparePokemon2)
            {
                <div class="divider"></div>
                <div class="winner-container">
                    <span class="winner-text">@winner.name.ToUpper() WINS!</span>
                </div>
            }
            else if (winner == null && comparePokemon1 != null)
            {
                <div class="divider"></div>
                <div class="winner-text draw">
                    It's a TIE!
                </div>
            }

        </div>

    }

    <div class="pokedex">
        <div class="pokedex-header">
            <h2>Pokédex</h2>
        </div>

        <div class="pokedex-body">
            <div class="controls">
                <div class="filter-dropdown">
                    <button class="filter-btn" @onclick="ToggleFilterPanel">Filter ▾</button>
                    <input type="text"
                           class="search-bar"
                           placeholder="Search"
                           @oninput="SearchPokemon" />
                     
                    @if (showFilterPanel)
                    {
                        <div class="filter-panel">
                            <select value="@selectedCategory?.key" @onchange="FilterCategoryChanged">
                                <option value="">All Pokémon</option>
                                @foreach (var c in filterCategories)
                                {
                                    <option value="@c.key">@c.name</option>
                                }
                            </select>

                            <select value="@selectedValue" @onchange="FilterValueChanged" disabled="@(!filterValues?.Any() ?? true)">
                                <option value="">Select @selectedCategory?.name</option>
                                @if (filterValues != null)
                                {
                                    @foreach (var v in filterValues)
                                    {
                                        <option value="@v.name">@v.name</option>
                                    }
                                }
                            </select>
                        </div>
                    }
                </div>
                @if (!showComparePanel)
                {
                    <button class="filter-btn" @onclick="ToggleComparePanel">Fight</button>
                }
                else
                {
                    <button class="filter-btn" @onclick="ToggleComparePanel">View</button>
                }
                <button class="filter-btn" @onclick="Clear">Clear</button>
            </div>
            @if (names is not null)
            {
                <div class="scroll-list">
                    @foreach (var p in names)
                    {
                        <div class="card" @onclick="() => LoadPokemonDetails(p.url)">
                            <span class="card-name">@p.name</span>
                    </div>
                }
                </div>
            }
            else
            {
                <div class="scroll-list">
                    @errorMessage
                </div>
                
            }
        </div>
    </div>
</div>


